@font-face {
    font-family: 'Bounded-Regular';
    src: url('./Font/Bounded-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}






body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bounded-Regular';
   background: #EEAECA;
    background: radial-gradient(circle,rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
    
}


.header{
    text-align: center;
    background-color: #272757;
    margin-top: 0;
    width: 50%;
    margin:  10px auto 0px;
    border-radius: 20px ;
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(0, 0, 0);
    gap: 10px;
    max-width: 1000px;
    color: #d8d7d7;
}

.header p,h1 {
margin: 0;
}
.header p {
padding: 0 20px;
}
.question-title{
    padding-left: 10px;
    margin: 0;
}
.container-tasck{
    border: 1px solid rgb(0, 0, 0);
    height:auto;
    margin: auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    /* gap: 20px; */
    border-radius: 20px;
    background-color: #272757;
    max-width: 1000px;
}
.container-tasck__question{
    margin: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    background: #505081;
    backdrop-filter: blur(10px);           
    -webkit-backdrop-filter: blur(10px);   
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    border-radius: 20px;
    height: auto;
    padding: 20px;
    color: #d8d7d7;
}
.value{
    padding: 5px;
    background-color: rgb(37, 177, 37);
    text-align: center;
    scale: 0;
    border-radius: 10px ;
    left: 100%;
    bottom: 0;
    transition: .8s;
}
.value.active{
    padding: 5px;
    color: aliceblue;
    text-align: center;
    scale: 1;
    border-radius: 10px ;
    left: 25%;
    bottom: 0;
    
}

.inputElement{
   padding-left: 10px;
  width: 70%;
  height: 40px;
   border-radius: 10px;
   border: 1px solid black;
   margin: 0;
   font-size: 20px;
   font-family: 'Bounded-Regular';
}

button{
    width: 170px;
    height: 30px;
    border-radius: 10px;
    cursor: pointer;
}

.radioStyle{
    width: 20px;
    height: 20px;
    margin: 0;
}
.selectStyle{
    height: 40px;
    font-size: 20px;
    border-radius: 10px;
    padding-left: 10px;
    margin: 0;
}
.radioBox{
    margin: 10px 0;
    font-size: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}
.counter{
    width: 50%;
    height: 30px;
    border-radius: 20px;
    margin: 10px auto;
    background-color: rgba(134, 136, 134, 0.329);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: 0.9s;
    border:  1px solid black;
    overflow: hidden;
    font-size: 20px;
    max-width: 1000px;

}
.counter span{
z-index: 1;

}
.progress{
    position: absolute;
    border-radius: 100%;
    width: 0;
    
    height: 80%;
    left: 0;
    background-color: rgb(228, 21, 21);
   
}

.modalAndAnswer{
    position: fixed;
    width:45%;
    height: auto;
    z-index: 2;
    border-radius: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(204, 202, 202, 0.438);
    backdrop-filter: blur(10px);           
    -webkit-backdrop-filter: blur(10px);   
    border: 1px solid rgba(0, 0, 0, 0.3); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); 
    scale: 0;
    transition: .6s;
    
 
   
}
.modalAndAnswer__wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: auto;
    /* border: 1px solid black; */
}



.modalAndAnswer h1{
    text-align: center;
    margin-top: 30px;
    font-size: clamp(2.2rem,2vw + 0.5rem ,5rem);
}
.modalAndAnswer p{
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
    
    margin: 0;}

.modalAndAnswer__wrapper h6{
    text-align: center;
    width: 100%;
    margin: 0;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.712);
    padding:  15px 0;
    border-radius: 5px;
    
}



.btnSection{
    display: flex;
    width: 100%;
    gap: 20px;
    margin-bottom: 30px;
    justify-content: center;
}


.modalBtn{
    width: 100%;
    height: 60px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.712);
    border-radius: 20px;
}

.hidden {
    opacity: 0;
    transform: translateY(50px);
    transition: all 0.8s ease-out;
  }
  
.show {
    opacity: 1;
    transform: translateY(0);
  }

  




@media(max-width:900px){
   .container-tasck{width: 95%;} 
   .header{width: 95%;  }
   .counter{width: 95%;}
   .modalAndAnswer{width:90%;}
   .modalAndAnswer__wrapper{
    width: 95%;

}
}

@media(max-width:500px){
.btnSection{
flex-direction: column;

}
.modalBtn{
    width: 100%;
    margin: auto

}

.modalAndAnswer__wrapper{gap: 30px;}
.btnSection{gap: 20px;}
.modalAndAnswer p{font-size: 20px;}
.modalAndAnswer__wrapper h6{

    font-size: 25px;
  
    
}

}